<%- include('header.ejs') %>
    <main>
        <h2>Main Page</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate distinctio iure, odit voluptatibus a quos
            neque ipsam porro nostrum tenetur maiores ut accusantium quibusdam est alias, quisquam libero autem.
            Veritatis.</p>
    </main>
    <%- include('footer.ejs') %>